
#frame {
    text-align: center;
    margin: auto;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    overflow: hidden;
    position:relative;
}

.center {
    text-align: center;
}

.navbar-nav > li {
    font-size: 20px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #3b3a39;
}

.dropdown-menu li a {
    color: white;
}

#rehabSelectForm {
    border: 1px solid black;
    border-radius: 5px;
    margin:auto;
    text-align: center;
    max-width: 40%;
    background-color: lightgray;
}

body {
    margin: 0;
    padding-bottom: 0;
    background-color: #265073;
    /*background-image: url("back.jpeg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer {
    color:white;
}

footer > div > div > ul > li > a {
    color:white;
}

footer > div > div > ul > li > a:hover {
    color: greenyellow;
}

#copyright {
    float:right;
    padding:1%;
    margin: 1%;
}

