
#frame {
    text-align: center;
    margin: auto;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    overflow: hidden;
    position:relative;
}

.center {
    text-align: center;
}

.navbar-nav > li {
    font-size: 20px;
    display: inline-block;
    float: none;
    text-align: center;
    position: relative;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #3b3a39;
}

.dropdown-menu li a {
    color: white;
    font-size: 19px;
}

#rehabSelectForm {
    /*border: 1px solid black;*/
    border-radius: 10px;
    margin:auto;
    text-align: center;
    max-width: 50%;
    background-color: lightgray;
    box-shadow: 1px 1px 2px 2px gray;
}

body {
    background-color: #265073;
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
}

footer {
    color:white;
    margin-bottom: 10px;
}

footer > div > div > ul > li > a {
    color:white;
}

footer > div > div > ul > li > a:hover {
    color: greenyellow;
}

#foot {
    margin-bottom: -10px;
    bottom:0;
}

#copyright {
    float:right;
    padding:1%;
    margin: 1%;
}

#datatable {
    border-radius: 3px;
}

input[type="text"] {
    max-width:50%;
}
input[type="date"] {
    max-width:50%;
}
select {
    max-width:50%;
}
textarea {
    max-width:50%;
    border-radius: 3px;
}
textarea:hover {
    box-shadow: 1px 1px 1px 2px gray;
    background-color: lightyellow;
    border-radius: 3px;
}
textarea:focus {
    box-shadow: 1px 1px 1px 2px gray;
    background-color: lightyellow;
    border-radius: 3px;
}

input[type="submit"] {
    width:35%;
    height:35%;
    border-radius: 20px;
    font-size: 18px;
}
input[type="submit"]:hover {
    box-shadow: 1px 1px 1px 2px gray;
    color:green;
    background-color: lightyellow;
    border:solid 1px green;
}

input[type="text"]:focus {
    box-shadow: 1px 1px 1px 2px gray;
    background-color: lightyellow;
    border-radius: 3px;
}
input[type="date"]:focus {
    box-shadow: 1px 1px 1px 2px gray;
    background-color: lightyellow;
    border-radius: 3px;
}
input[type="textarea"]:focus {
    box-shadow: 1px 1px 1px 2px gray;
    background-color: lightyellow;
    border-radius: 3px;
}


input[type="text"]:hover {
    box-shadow: 1px 1px 1px 2px gray;
}
input[type="date"]:hover {
    box-shadow: 1px 1px 1px 2px gray;
}
select:hover {
    box-shadow: 1px 1px 1px 2px gray;
}

.index {
    box-shadow: 1px 1px 2px 2px gray inset;
    margin-top: 75px;
    margin-bottom: 20px;
}

.outdex {
    box-shadow: 1px 1px 2px 2px gray;
}

#state {
    max-width: 50%;
}

.buttonHover {
    width:35%;
    height:35%;
    border-radius: 20px;
    font-size: 18px;
}

.buttonHover:hover {
    box-shadow: 1px 1px 1px 2px gray;
    color:green;
    background-color: lightyellow;
    border:solid 1px green;
}

.contain {
    box-shadow: 1px 1px 2px 2px forestgreen;
}

.blue {
    color:blue;
}

.green {
    color: forestgreen;
}

.red {
    color:firebrick;
}

.yellow {
    color: #efef00;
}

.groupPic {
    text-align: center;
    margin:auto;
}

#welcome {
    text-shadow: -2px 2px #796880;
    font-size: 4em;
    text-align: center;
}

#contactSubmit {
    max-width: 17%;
    font-size: 135%;
}
#rehabSubmit {
    max-width: 20%;
    font-size: 150%;
}
#drugSubmit {
    max-width: 20%;
    font-size: 150%;
}
#alcoholSubmit {
    max-width: 20%;
    font-size: 150%;
}
#backButton {
    max-width: 15%;
    font-size: 125%;
}
#printButton {
    max-width: 15%;
    font-size: 125%;
}

th {
    color: #5998ff;
}
th:hover {
    cursor: pointer;
    text-decoration: underline;
}

.box {
    border: solid #76d1ee 3px;
    border-radius: 4px;
    max-width: 300px;
    max-height: 300px;
    display:inline-block;
    padding:8px;
}