#frame {
    text-align: center;
    margin: auto;
}

.center {
    text-align: center;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #3b3a39;
}

.dropdown-menu li a {
    color: white;
}

thead {
    text-align: center;
}